# Core ML / DL
tensorflow       # for keras deep learning
scikit-learn     # for machine learning models
xgboost          # optional, for gradient boosting

# Data handling
pandas
numpy

# Visualization
matplotlib
seaborn

# Utils
jupyter          # run notebooks
notebook
ipykernel

# Backend
flask
flask-cors

# Database (optional)
sqlalchemy
